[Desktop Entry]
Name=PowerPoint
Comment=Access the PowerPoint web app.
GenericName=Office
Exec=google-chrome --app=https://www.office.com/launch/powerpoint?auth=1
Icon=/home/nicolas/.mydock/msoffice/powerpoint.png
Type=Application
StartupNotify=false
Terminal=false
Categories=Office;
Keywords=PowerPoint;Office;Microsoft

X-Desktop-File-Install-Version=0.24
