[Desktop Entry]
Name=OneNote
Comment=Access the OneNote web app.
GenericName=Office
Exec=google-chrome --app=https://www.onenote.com/notebooks?auth=1
Icon=/home/nicolas/.mydock/msoffice/onenote.png
Type=Application
StartupNotify=false
Terminal=false
Categories=Office;
Keywords=Notes;OneNote;Office;Microsoft

X-Desktop-File-Install-Version=0.24
