[Desktop Entry]
Name=Excel
Comment=Open the Excel web app.
GenericName=Office
Exec=google-chrome --app=https://www.office.com/launch/excel?auth=1
Icon=/home/nicolas/.mydock/msoffice/excel.png
Type=Application
StartupNotify=false
Terminal=false
Categories=Office;
Keywords=Excel;Office;Microsoft;

X-Desktop-File-Install-Version=0.24
