#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Maps
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=cogpfboejimpmhfpgjjbhkfmfpdcmdkj
Icon=chrome-cogpfboejimpmhfpgjjbhkfmfpdcmdkj-Default
StartupWMClass=crx_cogpfboejimpmhfpgjjbhkfmfpdcmdkj
