[Desktop Entry]
Name=Disney+
Comment=Access Disney+ and enjoy your favourite films.
GenericName=Movies
Exec=brave-browser --app=https://www.disneyplus.com/home
Icon=/home/nicolas/.mydock/disneyplus_logo.png
Type=Application
StartupNotify=false
Terminal=false
Categories=Video;Movies;Entertainment;
Keywords=Disney;Movies

X-Desktop-File-Install-Version=0.24
