#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Maps
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=mnhkaebcjjhencmpkapnbdaogjamfbcj
Icon=brave-mnhkaebcjjhencmpkapnbdaogjamfbcj-Default
StartupWMClass=crx_mnhkaebcjjhencmpkapnbdaogjamfbcj
