[Desktop Entry]
Type=Application
Name=OneDrive
Comment=Access OneDrive.
GenericName=Drive;Office;
Icon=/home/nicolas/.mydock/msoffice/onedrive.png
Exec=xdg-open https://onedrive.live.com/
Categories=Office;
Keywords=OneDrive;Drive;Office;Microsoft

X-Desktop-File-Install-Version=0.24
