[Desktop Entry]
Type=Application
Name=Disney+
GenericName=Movies;Films;
Comment=Access Disney+ and enjoy your favorite movies.
Comment[en_UK]=Access Disney+ and enjoy your favourite films.
Comment[es]=Accede a Disney+ y disfruta de tus peliculas favoritas.
Icon=/home/nicolas/.mydock/disneyplus_logo.png
Exec=xdg-open https://www.disneyplux.com/home
Categories=Video;Movies;Films;Entertainment;
Keywords=Disney;Movies;Films;
