[Desktop Entry]
Type=Link
Name=Excel
GenericName=Office;
Comment=Open Excel online
Icon=~/.mydock/msoffice/excel.png
Exec=xdg-open https://www.office.com/launch/excel?auth=1
Categories=Office;
Keywords=Excel;Office;Microsoft;
