[Desktop Entry]
Name=Geary
GenericName=Email
Comment=Send and receive email
Keywords=Email;E-mail;Mail;
Icon=org.gnome.Geary
TryExec=geary
Exec=geary --gapplication-service
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
StartupNotify=true
NoDisplay=true
