[Desktop Entry]
Name=Launcher Fenix
Comment=Play minecraft, for free.
GenericName=Minecraft Server
Exec=/usr/bin/java -jar /usr/local/games/launcher_fenix.jar
Icon=mccoffee
# Place the .svg icon in ~/.local/share/icons/hicolor/apps/scalable
Type=Application
StartupNotify=false
Terminal=false
Categories=Game;Server;
Keywords=Minecraft;Server

X-Desktop-File-Install-Version=0.24
