[Desktop Entry]
Type=Application
Name=Netflix
Comment=Access the netflix web and browse.
GenericName=Movies
Icon=/home/nicolas/.mydock/netflixlogo.png
Exec=xdg-open https://www.netflix.com/browse
Categories=Video;Movies;Entertainment;
Keywords=Netflix;Movies
