[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=/opt/postman/Postman/app/Postman %U
Icon=/opt/postman/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
