[Desktop Entry]
Type=Application
Name=PowerShell 7
Comment=A powerfull cross-platform shell.
Exec=/usr/local/bin/pwsh
Icon=pwsh
# Place the .svg icon in /usr/share/icons/hicolor/scalable
Terminal=true
StartupNotify=true
Categories=shell;
Keywords=shell;cli;console;terminal;
